*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topbar{
    width: 100%;
    height: 10%;
    background-color: #54AB84;
}

.topbar h1{
    color: #000;
    font-family: "Source Sans 3";
    font-size: 3.11063rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: auto;
    margin-right: auto;
    background-color: #54AB84;
}

.box{
    width: 300px;
    height: 300px;
    background-color: #000;
}