*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.doppio-one-regular {
  font-family: "Doppio One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.a{
    text-decoration: none;
}

.navi{
    text-decoration: none;
    scroll-behavior: smooth;
    transition-duration: 0.3s;
}

.top{
    text-decoration: none;
    color: #000;
}

.html{
    scroll-behavior: smooth;
}

.anchor{
    top: 0;
    position: 0;
}

.topbar{
    width: 100%;
    height: 10rem;
    background-color: #54AB84;
    position: sticky;
    top: 0;
    box-shadow: 0rem 0rem 0.1rem;  
}

.filler{
    height: 30%;
}

.name{
    height: 45%;
}

.name h1{
    color: #000;
    font-family: "Source Sans 3";
    font-size: 3.11063rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 2.5%;
    margin-right: auto;
    background-color: #54AB84;
    margin-bottom: 0.2rem;
}

.name a{
    color: #000;
    font-family: "Source Sans 3";
    font-size: 3.11063rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: #54AB84;
}

.bottom{
    height: 25%;
    display: flex;
    box-shadow: #000;
    box-shadow: 0rem 0rem 0.15rem;  
}

.bottom h2{
    margin-left: 2.5%;
    margin-right: auto;
    margin-top: 0.4rem;
    margin-bottom: auto;
    font-family: "Source Sans 3";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text{
    margin-left: 2.5%;
    height: 100%;
    width: 30%;
    margin-top: auto;
    margin-bottom: auto;
}

.icon{
    height: 2.5rem;
    width: 2.5rem;
    margin-top: 0.4rem;
    margin-bottom: auto;
}

.material-symbols-outlined{
    height: 100%;
    width: 10%;
    margin-top: 0.2rem;
}

.settings{
    width: auto;
    margin-left: 45%;
    margin-top: 0.4rem;
}

.stuff{
    top: 6rem;
    width: 100%;
    height: 100%;
}

.tob{
    height:10rem;
    width: 90%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
}

.title h1{
    color: #000;
    font-family: "Source Sans 3";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contents{
    margin-left: 2rem;
    margin-top: 1.8rem;
}

.contents li{
    color: #000;
    font-family: "Source Sans 3";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.streetImg img{
    width: 20rem;
    height: auto;
    margin-left: 3.5rem;
    margin-top: 4rem;
    border-radius: 1rem;
}

.heading{
    height: 30%;
}

.heading h1{
    color: #000;
    font-family: "Source Sans 3";
    font-size: 2.16rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: auto;
    margin-bottom: auto;
}

.stuff p{
    margin-top: 1rem;
    height: auto;
    width: 90%;
    color: #000;
    font-family: "Source Sans 3";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.image{
    width: 25rem;
    height: auto;
    margin-top: 3rem;
    margin-left: 1rem;
}

.image img{
    width: 25rem;
    height: auto;
}

.class{
    height:auto;
    width: 100%;
    margin-top: 4rem;
}

.class h1{
    margin-left: 1rem;
}

.class p{
    margin-left: 1rem;
}

.space{
    margin-top: 3rem;
}

.double{
    display: flex;
    height: 18rem;
    width: 100%;
    margin-top: 2rem;
}

.cardR{
    height: 100%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.cardL{
    height: 100%;
    width: 50%;
    
}

.images{
    width: 10rem;
    height: 15rem;
    border-radius: 1rem;
    align-self: center;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;  
}

.images img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    box-shadow: 0 0 0.1rem;  
}

.names{
    height: 4rem;
    width: 100%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.names p{
    text-align: left;
    margin-left: 15%;
}

.card{
    width: 85%;
    height: 20rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.ImgS{
    height: auto;
    width: 100%;
}

.ImgS img{
    height: auto;
    width: 100%;
    border-radius: 1rem;
}



.ImgN{
    height: 3rem;
    width: 90%;
    margin-top: 1rem;
    margin-left: 0%;
    margin-right: auto;
}

.ImgN p{
    text-align: center;
    width: 100%;
}

