{% extends "baseh.html" %} 

{% block title %}culture{% endblock %}

{% block content %}

<div class="stuff">
    <div class="tob">
        <div class="title">
            <h1>In this website:</h1>
        </div>
        <div class="contents">
            <ul>
                <li>What is Street Art</li>
                <li>History of Street Art</li>
                <li>Famous Street Artists</li>
                <li>Famous Street Art</li>
            </ul>
        </div>
    </div>
    <div class="streetImg">
        <img src="https://farm5.static.flickr.com/4036/5080788243_90f7f3d66d_b.jpg">
    </div>
    <div class="class1">
        <div class="heading">
            <h1>
                What is Street Art
            </h1>
        </div>
        <div>
            <p>
                Street art is a form of visual art created in public locations, typically unsanctioned and outside traditional art venues. It includes a variety of styles and techniques such as graffiti, murals, stencils, stickers, and installations. Often bold and expressive, street art is used to communicate messages, reflect social and political issues, or simply to add creativity to urban spaces. While it began as an underground movement, street art has gained widespread recognition and now influences both contemporary art and popular culture.
            </p>
        </div>
        <div class="image">
            <img src="https://lh6.googleusercontent.com/proxy/FHesW8SA49H_SUIjK1VyNQLdHK0fyrGgZ4zzW6kj60ql5b9Wc1ig5eQzxf51qKPl_aeTQWncnVGTpIe-hQVSBYNTXI9x-lgVS3BXXbB4cvJbPGGkf5dHgQ">
        </div>
    </div>
    <div class="class2">
        <div class="heading">
            <h1>
                History of Street Art
            </h1>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}

{% endblock %}