{% extends "baseh.html" %} 

{% block title %}culture{% endblock %}

{% block content %}

<div class="stuff">
    <div class="tob">
        <div class="title">
            <h1>In this website:</h1>
        </div>
        <div class="contents">
            <ul>
                <li>What is Street Art</li>
                <li>History of Street Art</li>
                <li>Famous Street Artists</li>
                <li>Famous Street Art</li>
            </ul>
        </div>
    </div>

    <div class="sohil">
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.edinburghnews.scotsman.com%2Farts-and-culture%2Fart%2Fedinburgh-street-art-14-of-the-best-graffiti-work-and-murals-in-the-capital-4050506&psig=AOvVaw0QI5Yu79nUvoHxjgznXZ_P&ust=1748004692527000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCJDprI-Pt40DFQAAAAAdAAAAABAY">
    </div>
</div>

{% endblock %}
{% block scripts %}

{% endblock %}