{% extends "baseh.html" %} 

{% block title %}culture{% endblock %}

{% block content %}

<div class="stuff">
    <div class="tob">
        <div class="title">
            <h1>In this website:</h1>
        </div>
        <div class="contents">
            <ul>
                <li>What is Street Art</li>
                <li>History of Street Art</li>
                <li>Famous Street Artists</li>
                <li>Famous Street Art</li>
            </ul>
        </div>
    </div>

    <div class="sohil">

    </div>
</div>

{% endblock %}
{% block scripts %}

{% endblock %}